<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Calculus</title>

    <link rel="stylesheet" type="text/css" href="/uncg_math/static/Geometry_files/mystyle.css">
    <script src="/uncg_math/static/Geometry_files/geometry.js"></script>
</head>

<body>
    <div class="example" style="height: 100% !important;">
        <div id="nav" style="clear:both;">
            <h1 style="color: white;text-align: center;"> Calculus</h1>

            <ul style="margin-top: -20px;">
                <li style="padding-left: 179px;"><a href="/uncg_math">Home</a></li>
<!--                <li style="padding-left: 179px;"><a href="/uncg_math/algebra">Back</a></li>-->
            </ul>
        </div>

        <!-- Section for Limits -->
        <!-- Section for Limits -->
<h2>Limits</h2>
<FORM>
    <TABLE border=0 width=100% bgcolor=moccasin>
        <tr>
            <td> <br> </td>
        </tr>
        </tr>
                <tr>
                    <td>
                        <span>Input Format: function,variable,point,dir </span>
                    </td>

                </tr>
         <tr>
                    <td>
                        <span>function is the function you want to solve</span>
                    </td>

                </tr>
        <tr>
                    <td>
                        <span>point is the point to which limit extends</span>
                    </td>

                </tr>
        <tr>
                    <td>
                        <span>dir is the direction which the limit is approaching, either + or -</span>
                    </td>

                </tr>
        <tr>
                    <td>
                        <span>eg: 1/x, x->1+</span>
                    </td>

                </tr>
        <TR>
            <TD COLSPAN=7 ALIGN=LEFT VALIGN=MIDDLE>
                <span>Please enter the function:</span><br>
                <INPUT TYPE=TEXT NAME="limit_input" ID="limit_input" style="padding: 12px; width: 250px;">
                <INPUT TYPE="button" class="widebutton" VALUE="Calculate" onclick="get_limit()">
            </TD>
        </TR>
        <tr>
            <TD ALIGN=CENTER>Result :</TD>
            <TD><span id="limit_result" style="font-size: small;">-------------------</span></TD>
        </tr>
    </TABLE>
</FORM>


       <h2>Differentiation</h2>
        <FORM>
            <TABLE border=0 width=100% bgcolor=moccasin>
        <tr>
            <td> <br> </td>
        </tr>
                <tr>
                    <td>
                        <span>Input Format: function,variable eg: x**2,x</span>
                    </td>
                </tr>

                <tr>
                    <td>
                        <span>function is the function you want to solve</span>
                    </td>

                </tr>
        <tr>
                    <td>
                        <span>variable is the variable we want to differentiate with, we can also do partial derivatives by mentioning only a single variable</span>
                    </td>

                </tr>
        <TR>
            <TD COLSPAN=7 ALIGN=LEFT VALIGN=MIDDLE>
                <span>Function:</span><br>
                <INPUT TYPE=TEXT NAME="limit_input" ID="differentiation_input" style="padding: 12px;width: 250px;">
                <INPUT TYPE="button" class="widebutton" VALUE="Calculate" onclick="get_differential()">
            </TD>
        </TR>
        <tr>
            <TD>Result :
            <span id="differentiation_result" style="font-size: small;">-------------------</span>
            </TD>
            <TD></TD>
        </tr>
    </TABLE>
</FORM>

        <h2>Integrals</h2>

        <FORM>
            <TABLE border=0 width=100% bgcolor=moccasin>
                <tr>
                    <td> <br> </td>
                </tr>
                <tr>
                    <td>
                        <span>Input Format: function,variable,lower_limit, upper_limit eg: x**2,x,0,1</span>
                    </td>
                </tr>
                 <TR>
            <TD COLSPAN=7 ALIGN=LEFT VALIGN=MIDDLE>
                <span>Function:</span><br>
                <INPUT TYPE=TEXT NAME="limit_input" ID="integration_input" style="padding: 12px;width: 250px;">
               </TD>
        </TR>
                <tr>
                                    <td><input type="radio" name="option" value="Definite" onclick="storeType(this.value)"> Indefinite </td>
                    <td><input type="radio" name="option" value="Indefinite" onclick="storeType(this.value)"> Definite </td>
                </tr>


        <tr>
           <td>  <INPUT TYPE="button" class="widebutton" VALUE="Calculate" onclick="get_integration()">
</td> </tr>
                 <tr>
            <TD>Result :
            <span id="integration_result" style="font-size: small;">-------------------</span>
            </TD>
            <TD></TD>
        </tr>
            </TABLE>
        </FORM>
        <h2>Series</h2>


        <FORM>
            <TABLE border=0 width=100% bgcolor=moccasin>
                <tr>
                    <td> <br> </td>
                </tr>
                <TR>
                    <TD COLSPAN=7 ALIGN=LEFT VALIGN=MIDDLE>
                        <span>Please enter the function:</span><br>
                        <INPUT TYPE=TEXT NAME="limit_input" ID="series_input" style="padding: 12px;width: 380px;">
                        <INPUT TYPE="button" class="widebutton" VALUE="Calculate Limits" onclick="CalculateLimit()">
                    </TD>
                </TR>
                <tr>
                    <TD ALIGN=CENTER>Result :</TD>
                    <TD><span id="series_result" style="font-size: small;">-------------------</span></TD>
                </tr>
            </TABLE>
        </FORM>
        <!-- Section for Limits -->

        <h2>Results</h2>


        <FORM>
            <TABLE border=0 width=100% bgcolor=moccasin>
                <tr>
                    <td> <br> </td>
                </tr>

                <tr>
                    <TD ALIGN=CENTER><INPUT TYPE="button" class="widebutton" VALUE="Clear" ></TD>
<TD ALIGN=CENTER><INPUT TYPE="button" class="widebutton" VALUE="Save" ></TD>                </tr>
            </TABLE>
        </FORM>



        <!-- Other sections (Differentiation, Integration, Series) can be added in the same format -->

    </div>
</body>

<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>

<script>

function get_limit(){
        eqn = document.getElementById("limit_input").value


        data_dict = {'eqn':eqn}


        $.ajax({
                url: '/uncg_math/limits',
                data: JSON.stringify(data_dict),
                type: 'POST',
                contentType: "application/json",
                dataType: 'json',
                success: function (data2) {
                    document.getElementById("limit_result").innerText = data2['result'];
                   return true;
                },
                error: function (data2) {
                    console.log(data2);
                    return false;
                }
            });


    }

    function get_differential(){
        eqn = document.getElementById("differentiation_input").value
        data_dict = {'eqn':eqn}
        $.ajax({
                url: '/uncg_math/differentiation',
                data: JSON.stringify(data_dict),
                type: 'POST',
                contentType: "application/json",
                dataType: 'json',
                success: function (data2) {
                    document.getElementById("differentiation_result").innerText = data2['result'];
                   return true;
                },
                error: function (data2) {
                    console.log(data2);
                    return false;
                }
            });


    }

var type = "";
    function storeType(value){
    type = value
    }
function get_integration(){
        eqn = document.getElementById("integration_input").value

        data_dict = {'eqn':eqn,'type':type}


        $.ajax({
                url: '/uncg_math/integration',
                data: JSON.stringify(data_dict),
                type: 'POST',
                contentType: "application/json",
                dataType: 'json',
                success: function (data2) {
                    document.getElementById("integration_result").innerText = data2['result'];
                   return true;
                },
                error: function (data2) {
                    console.log(data2);
                    return false;
                }
            });


    }

</script>

</html>
